<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../public/img/favicon.png" type="image/x-icon">
        <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <!--=============== BOXICONS ===============-->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../public/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../public/css/styles.css">

        <title>Welcome to FUSION</title>

    </head>

    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#home" class="nav__logo">
                    FUSION</a>

                <div class="nav__menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#popular" class="nav__link active-link">
                                <i class='bx bx-home-alt-2' ></i>
                                <span>Updates</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#value" class="nav__link">
                                <i class='bx bx-building-house' ></i>
                                <span>New</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#popularr" class="nav__link">
                                <i class='bx bx-award' ></i>
                                <span>Courses</span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#contact" class="nav__link">
                                <span>Services</span>
                                <i class='bx bx-phone' ></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Theme change button -->
                <i class='bx bx-sun change-theme' id="theme-button"></i>

                <a href="/login" class="nav__button button">Login</a>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
                <div class="home__container container grid">
                    <div class="home__data">
                        <h1 class="home__title">
                            Join, Study and Work with other developers
                        </h1>
                        <p class="home__description">
                            We currently have thousands of enthusiastic
                            programmers who are glad to share their knowledge with you.
                            Join us and start conquering the higher reaches of digital world.
                        </p>
    
                        <div class="home__value">
                            <div>
                                <h1 class="home__value-number">
                                    8<span>+</span>
                                </h1>
                                <span class="home__value-description">
                                    Premium <br> Services
                                </span>
                            </div>
    
                            <div>
                                <h1 class="home__value-number">
                                    10K <span>+</span>
                                </h1>
                                <span class="home__value-description">
                                    Happy <br> Developers
                                </span>
                            </div>
    
                            <div>
                                <h1 class="home__value-number">
                                    5K <span>+</span>
                                </h1>
                                <span class="home__value-description">
                                    Templates <br> codes
                                </span>
                            </div>
                        </div>
                    </div>
    
                    <div class="home__images">
                        <div class="home__orbe"></div>
    
                        <div class="home__img">
                            <img src="../public/img/home.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>


            <!--==================== UPDATES ====================-->
            <section class="section" id="popular">
                <div class="container">
                    <span class="section__subtitle">CHECK OUT OUR NEW UPDATES</span>
                    <h2 class="section__title">
                        LATEST UPDATES<span>.</span>
                    </h2>

                    <div class="popular__container grid swiper">
                        <div class="swiper-wrapper">
                            <article class="popular__card swiper-slide">
                                <img src="../public/img/popular1.jpg" alt="" class="popular__img">
    
                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Code via our compiler</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        Brand new design
                                    </h3>
                                    <p class="popular__description">
                                        You can learn ad practice at the same time
                                        without leaving our website now!
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/popular2.jpg" alt="" class="popular__img">
    
                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Errors are fixed</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        No more bugs
                                    </h3>
                                    <p class="popular__description">
                                        You faced some problems before?
                                        There are no more bugs now!
                                    </p>
                                </div>
                            </article>
    
                            <article class="popular__card swiper-slide">
                                <img src="../public/img/popular3.jpg" alt="" class="popular__img">
    
                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Join our community</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        Networking is the key!
                                    </h3>
                                    <p class="popular__description">
                                        Meet, talk and cooperate with other
                                        developers just like you!
                                    </p>
                                </div>
                            </article>
    
                            <article class="popular__card swiper-slide">
                                <img src="../public/img/popular4.jpg" alt="" class="popular__img">
    
                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Change to Night mode</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        Like working at nights?
                                    </h3>
                                    <p class="popular__description">
                                        More aesthetic and convinient night mode
                                        is available now. Try it!
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/popular5.jpg" alt="" class="popular__img">
    
                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Join New courses</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        More and More
                                    </h3>
                                    <p class="popular__description">
                                        Various ans Numerous and Creative
                                        courses are available now on our website!
                                    </p>
                                </div>
                            </article>
                        </div>

                        <div class="swiper-button-next">
                            <i class='bx bx-chevron-right' ></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class='bx bx-chevron-left'></i>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== VALUE new posts ====================-->
            <section class="value section" id="value">
                <div class="value__container container grid">
                    <div class="value__images">
                        <div class="value__orbe"></div>
    
                        <div class="value__img">
                            <img src="../public/img/value.png" alt="">
                        </div>
                    </div>

                    <div class="value__content">
                        <div class="value__data">
                            <span class="section__subtitle">!New!</span>
                            <h2 class="section__title">
                                NEW POST FROM FUSION
                            </h2>
                            <p class="value__description">
                                Comment on updated course
                        </div>

                        <div class="value__accordion">
                            <div class="value__accordion-item">
                                <header class="value__accordion-header">
                                    <i class='bx bxs-x-square value__accordion-icon'></i>
                                    <h3 class="value__accordion-title">
                                        Administrator
                                    </h3>
                                    <div class="value__accordion-arrow">
                                        <i class='bx bxs-down-arrow'></i>
                                    </div>
                                </header>

                                <div class="value__accordion-content">
                                    <p class="value__accordion-description">
                                        Hey, guys! Have you seen our last update in
                                        course section? Saying short, we have finally
                                        launched Kali Linux course, for etherical hacking.
                                        Wish you happy hacking!
                                    </p>
                                </div>
                            </div>

                            <div class="value__accordion-item">
                                <header class="value__accordion-header">
                                    <i class='bx bxs-x-square value__accordion-icon'></i>
                                    <h3 class="value__accordion-title">
                                        Anonymous
                                    </h3>
                                    <div class="value__accordion-arrow">
                                        <i class='bx bxs-down-arrow'></i>
                                    </div>
                                </header>

                                <div class="value__accordion-content">
                                    <p class="value__accordion-description">
                                        Love new features!
                                        Can't wait to use them
                                    </p>
                                </div>
                            </div>

                            <div class="value__accordion-item">
                                <header class="value__accordion-header">
                                    <i class='bx bxs-x-square value__accordion-icon'></i>
                                    <h3 class="value__accordion-title">
                                        Mariey
                                    </h3>
                                    <div class="value__accordion-arrow">
                                        <i class='bx bxs-down-arrow'></i>
                                    </div>
                                </header>

                                <div class="value__accordion-content">
                                    <p class="value__accordion-description">
                                        I've just checked this course.
                                        Seems to be a game changing!
                                        Shall we have any UX/UI tutorials?
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <!--==================== Courses ====================-->
            <section class="section" id="popularr">
                <div class="container">
                    <h2 class="section__title">
                       COURSES PRESENTED BY FUSION
                    </h2>

                    <div class="popular__container grid swiper">
                        <div class="swiper-wrapper">
                            <article class="popular__card swiper-slide">
                                <img src="../public/img/course1.jpg" alt="" class="popular__img">

                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Dive into ICT</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        More than theoretical knowledge
                                    </h3>
                                    <p class="popular__description">
                                        Learn more about ICT
                                        and its implementation in real life!
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/course2.jpg" alt="" class="popular__img">

                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>IT in Banking Systems</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        Cybersecurity? Blockchains?
                                    </h3>
                                    <p class="popular__description">
                                        Learn how IT are used in Banking Systems and More...
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/course3.jpg" alt="" class="popular__img">

                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>What language do you speak?</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        C#, Java, Python...
                                    </h3>
                                    <p class="popular__description">
                                        Get to know more about different programming langs. and
                                        find suitable one for you
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/course4.jpg" alt="" class="popular__img">

                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Graphic Design</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        UX/UI designing
                                    </h3>
                                    <p class="popular__description">
                                        Learn how to create trendy and distinct designs
                                        using Figma and more!
                                    </p>
                                </div>
                            </article>

                            <article class="popular__card swiper-slide">
                                <img src="../public/img/course5.jpg" alt="" class="popular__img">

                                <div class="popular__data">
                                    <h2 class="popular__price">
                                        <span>Mobile development</span>
                                    </h2>
                                    <h3 class="popular__title">
                                        Native or Cross Platform?
                                    </h3>
                                    <p class="popular__description">
                                        Start creating your own Mobile
                                        applications in short period of time.
                                    </p>
                                </div>
                            </article>
                        </div>

                        <div class="swiper-button-next">
                            <i class='bx bx-chevron-right' ></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class='bx bx-chevron-left'></i>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== CONTACT ====================-->
            <section class="contact section" id="contact">
                <div class="contact__container container grid">
                    <div class="contact__images">
                        <div class="contact__orbe"></div>
    
                        <div class="contact__img">
                            <img src="../public/img/contact.jpg" alt="">
                        </div>
                    </div>

                    <div class="contact__content">
                        <div class="contact__data">
                            <span class="section__subtitle">Do you need a help in Web-development?</span>
                            <h2 class="section__title">
                                Our Team will help you</h2>
                        </div>

                        <div class="contact__card">
                            <div class="contact__card-box">
                                <div class="contact__card-info">
                                    <i class='bx bxs-phone-call'></i>
                                    
                                    <div>
                                        <h3 class="contact__card-title">
                                            Polozov Mikhail
                                        </h3>
                                        <p class="contact__card-description">
                                            Full-Stack developer
                                        </p>
                                    </div>
                                </div>
                                <button class="button contact__card-button">
                                    Apply Now
                                </button>
                            </div>

                            <div class="contact__card-box">
                                <div class="contact__card-info">
                                    <i class='bx bxs-message-rounded-dots' ></i>
                                    
                                    <div>
                                        <h3 class="contact__card-title">
                                            Muratov Dastan
                                        </h3>
                                        <p class="contact__card-description">
                                            Front-end developer
                                        </p>
                                    </div>
                                </div>
                                <button class="button contact__card-button">
                                    Apply Now
                                </button>
                            </div>

                            <div class="contact__card-box">
                                <div class="contact__card-info">
                                    <i class='bx bxs-video' ></i>
                                    
                                    <div>
                                        <h3 class="contact__card-title">
                                            Dargulova Aruzhan
                                        </h3>
                                        <p class="contact__card-description">
                                            UX/UI Designer
                                        </p>
                                    </div>
                                </div>
                                <button class="button contact__card-button">
                                    Apply Now
                                </button>
                            </div>

                            <div class="contact__card-box">
                                <div class="contact__card-info">
                                    <i class='bx bxs-envelope'></i>
                                    
                                    <div>
                                        <h3 class="contact__card-title">
                                            Satylgan Rauan
                                        </h3>
                                        <p class="contact__card-description">
                                            Back-end developer
                                        </p>
                                    </div>
                                </div>
                                <button class="button contact__card-button">
                                    Apply Now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== join us ====================-->
            <section class="subscribe section">
                <div class="subscribe__container container">
                    <h1 class="subscribe__title">
                        Step into brighter future with FUSION
                    </h1>
                    <p class="subscribe__description">
                        Register and start developing on our platform.
                        Find new friends and join networking community!
                    </p>
                    <a href="/login" class="button subscribe__button">
                        Join now
                    </a>
                </div>
            </section>
        </main>

       <!----- <section id="map">
            <div id="map" style="width:500px; height:400px"></div>
            <section>---->

        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div>
                    <a href="" class="footer__logo">
                        FUSION </a>
                    <p class="footer__description">
                        Our vision is to make distinct  <br>
                        digital platform for all developers.
                    </p>
                </div>

                <div class="footer__content">
                    <div>
                        <h3 class="footer__title">
                            About
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Features</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">News & Blog</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">
                            Company
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">How We Work?</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Capital</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Security</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div>
                        <h3 class="footer__title">
                            Support
                        </h3>

                        <ul class="footer__links">
                            <li>
                                <a href="#" class="footer__link">FAQs</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Support center</a>
                            </li>
                            <li>
                                <a href="#" class="footer__link">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h3 class="footer__title">
                            Follow us
                        </h3>

                        <ul class="footer__social">
                            <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-facebook-circle' ></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-instagram-alt' ></i>
                            </a>
                            <a href="https://www.pinterest.com/" target="_blank" class="footer__social-link">
                                <i class='bx bxl-pinterest' ></i>
                            </a>    
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__info container">
                <span class="footer__copy">
                    &#169; FUSION. All rigths reserved
                </span>

                <div class="footer__privacy">
                    <a href="#">Terms & Agreements</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
        </footer>


        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-chevrons-up'></i>
        </a>

        <!--=============== SCROLLREVEAL ===============-->
        <script src="../public/js/scrollreveal.min.js"></script>

        <!--=============== SWIPER JS ===============-->
        <script src="../public/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../public/js/main.js"></script>
    </body>
</html>